<%- include('partials/header') %>

<div class="jumbotron centered">

<a class="btn btn-light btn-lg" href="/login" role="button">Log In Again</a>
<a class="btn btn-dark btn-lg" href="/" role="button">Home</a>

</div>




<%- include('partials/footer') %>